body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Helvetica, arial, sans-serif;
}

#contact {
    font-size: 30px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
    padding: 1vw;
    border: .5vw double rgb(230, 226, 35);
    border-radius: 15px;
    margin: 10px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sociallink {
    height: 100%;
    width: 5vw;
    margin: 1vw 5vw;
}

a:hover.socialhover {
    opacity: 0.7;
}

/*--------------------*/

#logo {
    width: clamp(1px, 4vw, 100px);
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: 10px;
}

.maincontents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}
.james {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin-right: 10px;
}

.name {
    font-size: clamp(20px, 5vw, 500px);
    font-weight: bolder;
    margin-bottom: 1vw;
    text-align: center;
    color:aliceblue;
}

.desc {
    font-size: clamp(15px, 2vw, 200px);
    font-weight: 500;
    text-align: center;
    margin-bottom: 1vw;
    color: aliceblue;
}

#contact {
    font-size: clamp(15px, 1.5vw, 200px);
    font-weight: 500;
    text-align: center;
    margin-bottom: clamp(4vw, 5vw, 6vw);
    padding: .75vw 2vw;
}

a:link#contact, a:visited#contact{
    color: black;
    text-decoration: none;
    background-color: rgb(40, 172, 172);
    border-radius: 25px;
    border: .15vw solid black;
}
a:hover#contact {
    background-color: rgb(8, 117, 121);
}

#self {
    width: clamp(100px, 30vw, 400px);
    height: 100%;
    border: .25vw solid #ffffff;
    border-radius: 15px;
}

/*--------------------*/

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    background-color: #ffffff;
}
h1 {
    font-size: clamp(25px, 5vw, 500px);
    width: 60vw;
    text-align: center;
    
    border-bottom: 3px solid black;
}

.framesize {
    width: 80vw;
    height: 50vw;
    margin-bottom: 1vw;
}
.tag {
    background-color: #252525;
    color: #7a7a7a;
    font-size: clamp(15px, 2vw, 100px);
    padding: 1vw;
    text-align: center;
}
.maininfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b1b1b;
    border: .5vw double rgb(230, 226, 35);
    border-radius: 25px;
    margin: 10px;
    color: #ffffff;
}
h2 {
    font-size: clamp(20px, 3vw, 200px)
}
h3 {
    font-size: clamp(15px, 2vw, 200px)
}
h4 {
    font-size: clamp(20px, 2vw, 200px);
    font-weight: 900;
    text-align: center;
}
h5 {
    font-size: clamp(15px, 1.5vw, 150px);
    width: 70vw; 
    font-weight: 500;
    text-align: center;
    margin-top: 1vw;
}

a:link#resume, a:visited#resume{
    font-size: clamp(15px, 2vw, 200px);
    padding: .75vw 2vw;
    margin-bottom: 2vw;
    color: black;
    text-decoration: none;
    background-color: rgb(40, 172, 172);
    border-radius: 25px;
    border: .15vw solid black;
}
a:hover#resume {
    background-color: rgb(8, 117, 121);
}