body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Helvetica, arial, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
}
#logo {
    width: clamp(200px, 30vw, 400px);
}
#contact {
    font-size: 30px;
}
.main {
    display: flex;
}
.james {

}